---
permalink: /llms.txt
eleventyExcludeFromCollections: true
---
# {{ site.name }}

> {{ site.description }}

This website permits access to public content by search engine crawlers and AI user agents.

Canonical site: {{ site.url }}
Sitemap: {{ site.url }}/sitemap.xml

Public pages:
- {{ site.url }}/
- {{ site.url }}/aktualnosci/

Policies:
- {{ site.url }}/polityka-prywatnosci/
- {{ site.url }}/regulamin/
